<div class="flex-connexion">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-2"></div>
            <div class="col-lg-6 col-sm-8">
                <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
                    <h1 class="text-center">Connexion</h1>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" id="password" class="form-control" formControlName="password">
                    </div>
                    <div *ngIf="errorMessage !== null">
                        <p class="text-center text-danger">{{errorMessage}}</p>
                    </div>
                    <div class="d-grid d-block">                        
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-sm-2"></div>
        </div>
    </div>
</div>