<header>
    <app-navbar></app-navbar>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <h1 class="h1 text-center">Accueil</h1>
        </div>
        <section class="row">
            <h2 class="h2 text-center bg-light">Outils</h2>
            <div class="mflex">
                <button class="btn btn-primary big-btn">Sortie(s) de stock</button>
                <button class="btn btn-primary big-btn">Entrée en stock</button>
                <button class="btn btn-primary big-btn" [routerLink]="['/consulter-stock']">Consulter les stocks</button>
                <button class="btn btn-primary big-btn">Inventaire</button>
                <button class="btn btn-primary big-btn hidden"></button>
                <button class="btn btn-primary big-btn hidden"></button>
            </div>
        </section>
        <section class="row bg-light" *ngIf="isAdmin">
            <h2 class="h2 text-center bg-light">Zone administrateur</h2>
            <div class="mflex">
                <button class="btn btn-primary big-btn">Gérer les produits</button>
                <button class="btn btn-primary big-btn">Gérer les plats</button>
                <button class="btn btn-primary big-btn">Gérer les unités</button>
                <button class="btn btn-primary big-btn">Gérer les catégories</button>
                <button class="btn btn-primary big-btn">Gérer les utilisateurs</button>
                <button class="btn btn-primary big-btn">Gérer les fournisseurs</button>
                <button class="big-btn hidden"></button>
                <button class="big-btn hidden"></button>
            </div>
        </section>
    </div>
</main>
