//max-width 576px (boostrap sm width);
/*
dans style.css
h1.h1
h2.h2
*/

.mflex{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.big-btn {
    height: 50px;
    margin-top: 0.25em;
    width: 100%;
    opacity: 0.9;
}

.hidden {
    visibility:hidden;
    height: 0px !important;
}

@media (min-width: 577px) and (max-width: 992px) {
    .big-btn {
        width: 33%;
        height: 100px;
        margin: 0.5em;
    }
}

@media (min-width: 993px) {
    .big-btn {
        width: 22%;
        height: 200px;
        margin: 1em;
    }
}
