{% extends 'base.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block body %}
<main>
    <h1>404</h1>
    <div class="container">
        <p class="text">Oops we ran into some problems</p>
        <p class="text">500 server</p>
        <p class="text">Please go back to the welcome page</p>
    </div>
</main>
<footer>
    <p class="footer-text">mlb 2021</p>
</footer>
{% endblock %}
