{% extends 'base.html.twig' %}

{% block title %}Manage stocks{% endblock %}

{% block body %}
<main>
    <h1>Welcome</h1>
    <div class="container">
        <p class="text">Here? It's the www root of this application.</p>
        <p class="text">But you have to work with the API.</p>
    </div>
</main>
<footer>
    <p class="footer-text">&copy; mlb 2021</p>
</footer>
{% endblock %}
