/* css style for applistock, mlb 2021 */
body, main {
    font-family: 'Roboto', sans-serif;
    min-height:100vh;
}

h1.h1 {
    padding: 0.25em 0 0.25em 0;
    background: linear-gradient(127deg, grey, lightgrey, grey);
    border-bottom:2px solid grey;
}

h2.h2 {
    --bs-bg-opacity: .5; /*boostrap5*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom:2px solid grey;
}