<nav class="container-fluid bg-light">
    <div class="row p-2">
        <div class="col-2">
            <a [routerLink]="['/accueil']">                
                <img src="../../../../../assets/img/logo/20211201-logo.png" alt="" height="50px">
            </a>
        </div>
        <div class="col-10 mnavbar-sm-column">            
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <p class="h2 mnavbar-h2">Gestion de stock</p>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 mnavbar-infos-buttons">            
                <div class="col-lg-6 col-sm-12 mflex-buttons">
                    <p>Connecté&nbsp;</p>
                    <p>{{user.lastname}} {{user.firstname}}</p>
                </div>
                <div class="col-lg-6 col-sm-12 mflex-buttons">
                    <button class="btn btn-primary m-1" [routerLink]="['/profil']">Profil</button>
                    <button class="btn btn-primary m-1" (click)="logout()">Déconnexion</button>
                </div>
            </div>
        </div>
    </div>
</nav>
