//css for navbar responsive - mlb 2021
.mnavbar-h2{
    text-align: right;
}

.mnavbar-sm-column {
    display: flex;
    flex-direction: column;
}

.mnavbar-infos-buttons {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;  
    align-items: center;
    align-content: flex-end;
}    

.mflex-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mflex-buttons>.p {
    overflow: hidden;
}

@media (min-width: 577px) and (max-width: 992px) {
    //actually nothing
    .mnavbar-sm-column {
        display: flex;
        flex-direction: row;
    }
    .mnavbar-infos-buttons {
        flex-direction: row;
    }
}

@media (min-width: 993px) {
    .mnavbar-h2{
        text-align: center;
    }
    .mnavbar-sm-column {
        flex-direction: row;
    }
    .mnavbar-infos-buttons {
        flex-direction: row;
    }
}