//css for footer, mlb 2021
@keyframes anime {
    0%   { background-position: 0% 0%;}
    //25%  { background:linear-gradient(to top,grey,white 60%,black);}
    75%  { color:white;}
    //75%  { background:linear-gradient(to top,grey,white 60%,black);}
    100% { background-position: 0% 200%;}
}

.footer-text {
    text-align: center;
    color:black;
    margin-top: 1em;
	background:linear-gradient(to bottom,black,white,grey,white 70%,grey,black);
    background-size: 100% 200%;
	width:100%;
    padding:0.25em;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}