<header>
    <app-navbar></app-navbar>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <h1 class="h1 text-center">Mon profil</h1>
        </div>
        <section class="row">
            <h2 class="h2 text-center bg-light">Modifier le profil de {{user.lastname}} {{user.firstname}}</h2>
            <p>TODO</p>
        </section>
    </div>
</main>