<app-header></app-header>
<main>
    <section class="container-fluid">
        <div class="row">
            <h1 class="h1 text-center">Consulter les stocks</h1>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <h2 class="h2 text-center bg-light">Liste des produits</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Désignation</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Fournisseur</th>
                        <th scope="col">Qté</th>
                        <th scope="col">Unité</th>
                        <th scope="col">Opération</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList">
                        <!-- <app-product-item [product]="product"></app-product-item> -->
                        <td>{{product.id}}</td>
                        <td>{{product.designation}}</td>
                        <td>{{product.category?.designation}}</td>
                        <td>{{product.supplier?.name}}</td>
                        <td>{{product.qtyInStck}}</td>
                        <td>{{product.unity?.symbol}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm">Détails</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>