/* css style for index.html - mlb 2021 */
html, body, main {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

main {
	width:100%;
}

p,h1 {
	font-size: 2em;
	text-align: center;
}

.container {
	width:80%;
	margin:auto;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
}

.text {
	width:100%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	padding:20px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.15);
}

.footer-text {
	position:fixed;
	bottom:0px;
	background:linear-gradient(to bottom,black,white,grey,white 70%,grey,black);
    	background-size: 100% 200%;
	width:100%;
	padding:0.25em;
    	animation-name: anime;
    	animation-duration: 5s;
    	animation-iteration-count: infinite;
    	animation-timing-function: linear;
}

@keyframes anime {
    0%   { background-position: 0% 0%;}
    //25%  { background:linear-gradient(to top,grey,white 60%,black);}
    75%  { color:white;}
    //75%  { background:linear-gradient(to top,grey,white 60%,black);}
    100% { background-position: 0% 200%;}
}
